.map-container {
    width: 80%;
    height: 50vh;
    margin: auto;
}
 
.page-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 0px;
}

.mb-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: grid;
    grid-auto-flow: column;
    grid-row-gap: 10px;
}

.studio-details-container {
    text-align: center;
    margin: auto;
}

.studio-form-container {
    text-align: center
}

.input-group {
    max-width: 80%;
    margin: auto;
}

.btn-sm {
    max-height: 5ch;
    max-width: 7ch;
}

.btn {
    max-height: 7ch;
    max-width: 10ch;
}

#name-col {
    width: 40%;
}

#ad-col {
    width: 60%;
}

.studio-list-container {
    margin: auto;
    text-align: center;
    width: 60%;
}

.table {
    margin-left: 10%;
    margin-right: 10%;
    width: 80% !important;
}

thead {
    text-align: center;
}

tbody {
    text-align: left;
    padding-left: 2cm;
}